.magic-move-wrap .shiki-magic-move-container {
	position: relative;
	white-space: pre;
}

.magic-move-wrap .shiki-magic-move-line-number {
	opacity: 0.3;
	user-select: none;
}

.magic-move-wrap .shiki-magic-move-item {
	display: inline-block;
	transition: color var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.magic-move-wrap .shiki-magic-move-move {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.magic-move-wrap .shiki-magic-move-enter-active,
.magic-move-wrap .shiki-magic-move-leave-active {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
}

.magic-move-wrap .shiki-magic-move-container-resize,
.magic-move-wrap .shiki-magic-move-container-restyle {
	transition: all var(--smm-duration, 0.5s) var(--smm-easing, 'ease');
	transition-delay: calc(
		var(--smm-duration, 0.5s) * var(--smm-delay-container, 1)
	);
}

.magic-move-wrap .shiki-magic-move-move {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-move, 1)) +
			var(--smm-stagger, 0)
	);
	z-index: 1;
}

.magic-move-wrap .shiki-magic-move-enter-active {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-enter, 1)) +
			var(--smm-stagger, 0)
	);
	z-index: 1;
}

.magic-move-wrap .shiki-magic-move-leave-active {
	transition-delay: calc(
		calc(var(--smm-duration, 0.5s) * var(--smm-delay-leave, 1)) +
			var(--smm-stagger, 0)
	);
}

.magic-move-wrap .shiki-magic-move-enter-from,
.magic-move-wrap .shiki-magic-move-leave-to {
	opacity: 0;
}

.magic-move-wrap br.shiki-magic-move-leave-active {
	display: none;
}

.magic-move-wrap .magic-move-navigation-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.magic-move-wrap .magic-move-navigation-prev,
.magic-move-wrap .magic-move-navigation-next {
	cursor: pointer;
}
.magic-move-wrap .magic-move-navigation-prev[disabled],
.magic-move-wrap .magic-move-navigation-next[disabled] {
	cursor: not-allowed;
}

/* hidden class */
.language-magic-move {
	display: block !important;
	padding: 0 !important;
	min-height: 0 !important;
	height: 1px !important;
	transform: scaleY(0.5) !important;
	opacity: 0 !important;
	overflow: hidden !important;
	pointer-events: none !important;
}

.magic-move-hidden .magic-move-temp {
	padding: 0 !important;
	opacity: 0 !important;
	height: 1px !important;
	transform: scaleY(0.5) !important;
	pointer-events: none !important;
}

/* override reset */
.markdown-reading-view .magic-move-wrap pre.shiki-magic-move-container {
	padding: var(--size-4-3) var(--size-4-4) !important;
}
